    <!-- As a heading -->
    <nav class="navbar navbar-dark bg-dark pb-3">
        <div class="container">
            <a href="/bank-statement" class="navbar-brand mb-0 h1">Bank of Sylhet</a>
            <div class="d-flex flex-column">
                <span class="navbar-text">User Name: {{name}}</span>
                <span class="navbar-text">BankID: {{bankid}}</span>
                <a href="/loginbank" class="btn btn-outline-danger">Logout</a>
            </div>
        </div>
    </nav>