    <!-- As a heading -->
    <nav class="navbar navbar-dark bg-dark pb-3">
        <div class="container">
            <span class="navbar-brand mb-0 h1">Ecommerce Website</span>
            <div class="d-flex flex-column">
                <span class="navbar-text">Username: {{username}}</span>
                <span class="navbar-text">BankID: {{bankid}}</span>

                <a href="/logincustomer" class="btn btn-outline-danger">Logout</a>
            </div>
        </div>
    </nav>